<div class="container">
<br>
  <app-header></app-header>
  <br>
  <br>
  <p class="display-4 text-centre">The Awesome App</p>
  <!-- <input type="text" [(ngModel)] = "title">
  <br>
  <button class="btn btn-primary" (click)="showUsers = !showUsers" >Toggle Users Component</button> -->
<router-outlet></router-outlet>
<!-- <app-login></app-login> -->
  <!-- <app-register></app-register> -->
  <!-- <app-pipe-demo></app-pipe-demo> -->
  <!-- <app-login></app-login> -->
  <!-- <h3>Counter in App : {{ dataService.counter }}</h3>
  <button class="btn btn-dark" (click)="onIncrement()">Increment Counter</button>

  <app-observable-demo></app-observable-demo> -->
  <!-- <app-users [title]="title" *ngIf="showUsers"></app-users> -->
  <!-- <app-users [title]="title" *ngIf="authService.isAuthenticated()"></app-users> -->
  
  <!-- <app-register></app-register> -->
  


</div>
